.test-container {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    padding: 1rem 1rem;
}

.buttonsrow {
    background-color: red;
    width: fit-content;
    height: fit-content;
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}